{% extends "base.html" %}

{% block content %}
<header class="bg-$teal-200 py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="test-center text-white">
            <h1 class="display-4 fw-boder">login<h1/>
                <p class="lead fw-narmal text-white-50 mb-0">log in to your account...</p>
            </div>
        </div>
    </header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
    form 
    <br/><br/>
    <br/><br/>
    <br/><br/>
    <br/><br/>
    <br/><br/>
    <br/><br/>
            </div>
        </center>
    </div>
</div>

{% endblock %}