
{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registration</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body style="background-color: #f2f3f7;">
    <header class="bg-info text-white" style="padding: 50px 0;">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Register</h1>
                <p class="lead fw-normal mb-0">Create your account and enjoy exclusive discounts and offers.</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3" style="padding: 50px;">
                
                <form method="POST" action="{% url 'register' %}" style="background-color: white; padding: 30px; border-radius: 5px;">
                    {% csrf_token %}
                    {{ form.as_p }}
                    
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}
